<div class="container">
    <div class="page-header">
        <h2>Reporting Application(Test checkins)</h2>
    </div>
    <div class="row form-group">
        <div class="col-md-3">
            <div class="controls">Table Name:<!-- -->
                <select ng-model="table.name" class="form-control" ng-options="tableName for tableName in tableNames">
                </select>
            </div>
        </div>
        <div class="col-md-offset-5 col-md-4">
            <button type="button"  class="pull-right btn btn-default" ng-click="search(1)">Search</button>
            Results per page:
            <select ng-model="table.resultsPerPage" class="form-control" ng-options="result for result in resultsList" >
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
             <table class="table table-bordered">
                 <thead>
                     <tr>
                       <th></th>
                       <th ng-repeat="column in columns" >{{column.name}}</th>
                     </tr>
                 </thead>
                 <tbody>
                   <td></td>
                   <td ng-repeat="(key, value) in searchFields track by key">
                     <input class="form-control" ng-model="searchFields[key]" type="text" ng-disabled="{{columns[key].disabled}}">
                   </td>
                   <tr ng-repeat="row in rows">
                     <td>{{$index+1}}</td>
                     <td ng-repeat="columnValue in row">{{columnValue}}</td>
                   </tr>
                 </tbody>
             </table>
        </div>
        <pagination boundary-links="true" total-items="table.totalRows" current-page="table.currentPage" items-per-page="table.resultsPerPage" max-size="table.resultsPerPage" page="table.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    </div>
</div>
